body {
    font-family: 'pixel', sans-serif;
}

@font-face {
    font-family: 'pixel';
    src: url('PressStart2P.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

span {
    font-style: italic;
}

canvas {
    left: 0;
    top: 0;
    position: absolute;
}
